[user]
	email = cgreen@saguaro.space
	name = Christopher Green
[alias]
	g = log --graph --abbrev-commit --date=iso --all
	t = tag --sort version:refname -n10 -n
	d = diff
	s = status
	r = ls-remote --heads
	p = push
	u = pull
	c = commit
[github]
	user = cg433n
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	editor = emacs
	