[submodule "vim/.vim/pack/submodules/start/editorconfig-vim"]
	path = vim/.vim/pack/submodules/start/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "vim/.vim/pack/submodules/start/vim-fugitive"]
	path = vim/.vim/pack/submodules/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/.vim/pack/submodules/start/vim-lilypond"]
	path = vim/.vim/pack/submodules/start/vim-lilypond
	url = git@github.com:cg433n/vim-lilypond.git
