[submodule "vim/.vim/pack/submodules/start/editorconfig-vim"]
	path = vim/.vim/pack/submodules/start/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "vim/.vim/pack/submodules/start/vim-fugitive"]
	path = vim/.vim/pack/submodules/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/.vim/pack/submodules/start/ctrlp.vim"]
	path = vim/.vim/pack/submodules/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/pack/submodules/start/vim-polyglot"]
	path = vim/.vim/pack/submodules/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "vim/.vim/pack/submodules/start/vim-hemisu"]
	path = vim/.vim/pack/submodules/start/vim-hemisu
	url = git@github.com:noahfrederick/vim-hemisu.git
[submodule "vim/.vim/pack/submodules/start/vim-unimpaired"]
	path = vim/.vim/pack/submodules/start/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "vim/.vim/pack/submodules/start/vim-commentary"]
	path = vim/.vim/pack/submodules/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/.vim/pack/submodules/start/vim-colors-xcode"]
	path = vim/.vim/pack/submodules/start/vim-colors-xcode
	url = git@github.com:arzg/vim-colors-xcode.git
