[submodule "vim/.vim/pack/submodules/start/editorconfig-vim"]
	path = vim/.vim/pack/submodules/start/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "vim/.vim/pack/submodules/start/vim-fugitive"]
	path = vim/.vim/pack/submodules/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/.vim/pack/submodules/start/ctrlp.vim"]
	path = vim/.vim/pack/submodules/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/pack/submodules/start/vim-polyglot"]
	path = vim/.vim/pack/submodules/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "vim/.vim/pack/submodules/start/vim-hemisu"]
	path = vim/.vim/pack/submodules/start/vim-hemisu
	url = git@github.com:noahfrederick/vim-hemisu.git
[submodule "vim/.vim/pack/submodules/start/ale"]
	path = vim/.vim/pack/submodules/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "vim/.vim/pack/submodules/start/space-vim-theme"]
	path = vim/.vim/pack/submodules/start/space-vim-theme
	url = git@github.com:liuchengxu/space-vim-theme.git
