# ┌────────────────────────────────┐
# │              Nano              │
# │  https://www.nano-editor.org   │
# └────────────────────────────────┘

# A surprising number of people use nano as their main editor
# https://ariadne.space/2021/08/13/gnu-nano-is-my-editor-of-choice/
# https://usesthis.com/interviews/liz.fong-jones/

# Disable the help menu
set nohelp

# Enable mouse support
set mouse

# Enable undo
set undo
