# ┌─────────────────────────────────────────────────────────┐
# │                           NPM                           │
# │  https://docs.npmjs.com/cli/v7/configuring-npm/npmrc/   │
# └─────────────────────────────────────────────────────────┘

# Install global node modules in a place which doesn't require sudo to access
# https://docs.npmjs.com/cli/v7/commands/npm-prefix
prefix=~/.local/npm
